* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aquamarine;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_style {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
}

.btn_style:hover {
  background-color: #008cba;
  color: white;
}
